@import 'rounded-corners.less';

.download-dialog{

	.icon {
		display: table-cell;
		vertical-align: middle;
		height: 32px;
		width: 32px;
	}

	.dialog-body{
		padding-top: 5px;
		border-top: 10px solid #e3e9ff;

		overflow: hidden;

		.section{
			margin: 10px 80px 0px 50px;

			overflow: auto;

			.section-label{
				font-size: 85%;
				text-transform: uppercase;
			}

			.section-body{
				margin-left: 5px;
				padding: 5px;
			}

		}

	}

	.download-option {

		margin-bottom: 5px;

		.linkrow{
			.rounded_corners;
			padding: 3px;
			display: block;
			background-color: #e3e9ff;
			border: thin solid #bcf;
			text-decoration: none;

			&:hover{
				background-color: #bcf;

			}

			.label, .fileicon {
				display: table-cell;
				vertical-align: middle;
			}

			.label{
				padding-left: 15px;
			}
		}
	}

}

.fileicon{
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	display: inline-block;
}

.fileicon.text_csv {
	background-image: url('images/icons/oxygen_mimetype_64/Mimetypes-text-csv-icon.png');
}

